@import "../variables.scss";
@import "../typography.scss";

body {
  font-family: "ClashDisplay-Bold";
  background-color: $black;
  color: whitesmoke;
  font-family: "ClashDisplay-Regular";
}

h1 {
  //   font-family: "Arial";
  font-family: "ClashDisplay-Regular";
  font-size: 50px;
}

.welcome {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    color: whitesmoke;
  }

  &__img {
    height: 300px;
    width: 300px;
  }

  &__left {
    width: 50%;
  }
}
