@import "../variables.scss";
@import "../typography.scss";

a {
  color: whitesmoke;
  text-decoration: none;
}

.project {
  width: 25%;
  &__container {
    margin: 0 2rem;
    display: flex;
    align-items: space-evenly;
  }
  &__title {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-family: "ClashDisplay-SemiBold";
  }

  &__img {
  }

  &__desc {
    &--container {
      height: 100px;
      width: 15rem;
    }
  }
  &__tagbox {
    margin-top: 8px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
  }
  &__tag {
    color: $green;
    border: 1px solid $white;
    display: inline;
    border-radius: 8px;

    padding: 3px 4px;
  }
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 15rem;
  width: 15rem;
}
.fill .project__img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
